# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/


# backend service (next)
run/next/.env

*.secret

# mdbook output
/book/html/

test-results/
playwright-report/
